@model IPagedList<ReportSTP.Models.Report.CurrentAccountBalance>
@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Bootstrap4.Core
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="main-content">
    <div class="section__content section__content--p30">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Definition  @*@Html.DisplayNameFor(model => model.Definition)*@</th>
                    <th scope="col">Code   @*@Html.DisplayNameFor(model => model.Code)*@</th>
                    <th scope="col">Remainder   @*@Html.DisplayNameFor(model => model.Remainder)*@</th>
                    <th scope="col">Currency   @*@Html.DisplayNameFor(model => model.Currency)*@</th>
                    <th scope="col">Personel   @*@Html.DisplayNameFor(model => model.Personnel)*@</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Definition)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Remainder)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Currency)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Personnel)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page }), Bootstrap4PagedListRenderOptions.Minimal)
    </div>
</div>